<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>129647293054-oejufs210d4qit8rm6atjlpje0of5api.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129647293054-oejufs210d4qit8rm6atjlpje0of5api</string>
	<key>API_KEY</key>
	<string>AIzaSyCYB11ptNDj6_jJReVmJJYWVUsxRgjsRGc</string>
	<key>GCM_SENDER_ID</key>
	<string>129647293054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.crowdshot</string>
	<key>PROJECT_ID</key>
	<string>crowdshot-production</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdshot-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:129647293054:ios:bcae8ba1cb521e45</string>
	<key>DATABASE_URL</key>
	<string>https://crowdshot-production.firebaseio.com</string>
</dict>
</plist>
